@import "bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');


body {
    height: 100vh;
    margin:0 auto;
    text-align: center;
    background-color: #CED3DC;
}

header {
    margin-bottom: 50px;
}

nav.navbar {
    background-color: #A31621;
}

nav.navbar a {
    text-decoration: none;
    color: white;
    padding-inline: 10px;
}


.aboutcard{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-evenly;
    padding: 1%;
    margin-bottom: 3%;
}

.aboutcard img{
    width: 350px;
    height: 300px;
}

.logolinkm img{
    width: 25px;
    height: 25px;
}

.logolinki img{
    width: 25px;
    height: 25px;
}

.logolinkl img{
    width: 25px;
    height: 25px;
}

.logolinkc img{
    width: 25px;
    height: 25px;
}
nav.navbar .navbar-brand {
    font-family: "Permanent Marker";
}
.home-page {
    padding-top: 2%;
    height: 100vh;
}
.home-page-text {
  border: 2px solid black;
  background-color: white;
  margin-inline: 10%;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 5px 5px black;
}

.carousel-item > img { 
    max-width: 1000px;
    max-height: 1000px;
  }
.carousel-inner {
    height: 50vh;
}

.index-page {
    height: 100%;
}
.collections {
    padding-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

div .card {
    box-sizing: border-box;
    border: 3px solid black;
    box-shadow: 5px 10px black;
    max-block-size: 40rem;
    margin: 10px;
}

.card-img {
    padding: 10px;
    max-height: 300px;
    max-width: 300px;
    margin: auto;
}

.show-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;

}

.create-form {
    padding-top: 5%;
    
}
.new-page {
    height: 100vh;
}
.edit-page {
    height: 100vh;
}
form {
    margin-inline: 25%;
}
input {
  box-shadow: 5px 5px black;
}
textarea {
  box-shadow: 5px 5px black;
}
select {
  box-shadow: 5px 5px black;
}
footer nav.navbar {
    margin-top: 50px;
}
h1 {
    padding-top: 2%;
    font-family: "Permanent Marker";
}

a {
    text-decoration: none;
    color: white;
}

.btn {
    background-color: #A31621;
    box-shadow: 2px 2px black;
}

.btn:hover {
    background-color: #A31621;
    
}

.btn a:hover {
    color: white;
}
.not-found-page {
    height: 100vh;
    
 }
.card-footer {
  display:flex;
  justify-content: space-evenly;
}
.not-found-content {
    display:flex;
    flex-direction: column;
    align-items:center ;
}

