@import "bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Roboto:wght@500&display=swap');

* {
  font-family: "Kanit";
}

body {
    height: 100vh;
    margin:0 auto;
    text-align: center;
    background-color: #CED3DC;
}

nav.navbar {
    background-color: #A31621;
}

nav.navbar a {
    text-decoration: none;
    color: white;
    padding-inline: 10px;
    font-family: "Kanit";
}

div .about-us-cards {

    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 1%;
    margin-bottom: 3%;
    padding-bottom: 5rem;
}

.about-image {
  border-radius: 15px;
  object-fit: cover;
}

.about-image-leo {
  border-radius: 15px;
  object-position: 75% 18%;
  object-fit: cover;
}

.logo-link img{
    width: 40px;
    height: 40px;
}

nav.navbar .navbar-brand {
    font-family: "Permanent Marker";
}
.home-page {
    padding-top: 2%;
    height: 100vh;
    z-index: 0;
}
.home-page-header {
  padding-top: 4rem;
}
.home-page-text {
  border: 2px solid black;
  background-color: white;
  margin-inline: 10%;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 5px 5px black;

}

.carousel-item > img { 
    width: 100%;
    height: 50vh;
    object-fit: cover;
    
  }
.carousel-inner {
    width: 100%;
    height: 50vh;
    object-fit: cover;
    border: 2px solid black;
}

.index-page {
    height: 100vh;
}
.collections {
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-bottom: 5rem;
}

div .card {
    box-sizing: border-box;
    border: 3px solid black;
    box-shadow: 5px 10px black;
    max-block-size: 50rem;
    margin: 10px;
}

.card-img {
    padding: 10px;
    max-height: 300px;
    max-width: 300px;
    margin: auto;
}

.show-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.create-form {
    padding-top: 1rem;
    
}
.new-page {
    height: 100vh;
}
.edit-page {
    height: 100vh;
}
form {
    margin-inline: 25%;
}
input {
  box-shadow: 5px 5px black;
}
textarea {
  box-shadow: 5px 5px black;
}
select {
  box-shadow: 5px 5px black;
}
nav .navbar .navbar-expand .navbar-dark .fixed-bottom {
  padding-top: 4rem;
}
h1 {
    padding-top: 4rem;
    font-family: "Permanent Marker";
}

a {
    text-decoration: none;
    color: white;
}

.btn {
    background-color: #A31621;
    box-shadow: 2px 2px black;
    color: white;
}

.btn:hover {
    background-color: #A31621;
    color: white;
}

.btn a:hover {
    color: white;
}
.not-found-page {
    height: 100vh;
    
 }
.card-footer {
  display:flex;
  justify-content: space-evenly;
}
.not-found-content {
    display:flex;
    flex-direction: column;
    align-items:center ;
}

.edit-modal{
    background-color: #CED3DC;
}

.modal-body{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.modal-header{
    background-color: #A31621;
    color: white;
    font-family: "Permanent Marker";
}

.modal-title {
  font-family: "Permanent Marker";
}

.btn-close {
    opacity: 1;
    filter: invert(1) grayscale(100%) brightness(200%);
}

.modal-form{
    margin-inline: 5%;
}


.card-header-devise {
    background-color: #A31621;
    color: white;
}
.card-body-devise {
    background-color: #CED3DC;
}

.form-check-level {
    padding-top: 1%;
}
.form-switch .form-check-input {
    font-size: large;
    z-index: 100;
}
.form-check {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    padding-top: 1%;
    align-items: center;
    font-size: x-large;
    flex-wrap: wrap;
}

.form-switch {
    padding-right: 2.5em;
    z-index: 100;

}

.form-check-label {
    padding-top: 1%;
    z-index: 100;
}

.toast{
    z-index: 1000;
    position: fixed;
    margin-top: 4rem;
  }

.toast-header {
  background-color:#A31621;
  color: white;
}

strong {
  font-family: "Permanent Marker"
}

